<header id="head" class="secondary"></header>
<div class="container">
        <div class="row thin">
            <h2>Gladen</h2>
               <div class="filter" >
                    {{#if data.tipo}}
                {{!--         <a class="btn btn-filter" href="/gladen">All</a>
                    {{else}}
                        <a class="btn btn-filter btn-enable" href="/gladen">All</a>
                    {{/if}}   
                    {{#if data.tipo}} --}}
                        {{#each data.tipo}}
                            <a class="btn btn-filter btn-enable btn-text" href="{{tipoUrl this}}">{{this}}</a>
                            {{!-- {{#ifeq ../data.vtipo.key key}}
                                <a class="btn btn-filter btn-enable btn-text" href="">{{this}}</a>
                            {{else}}
                                <a class="btn btn-filter btn-text" href="">{{this}}</a>
                            {{/ifeq}} --}}
                             
                        {{/each}}
                    {{/if}} 
                </div>
       </div>
       <div class="row">
            <div class="col-md-12 col-lg-12"></div>
	            {{#if data.prod}}
		            {{#each data.prod}}
                        <div class="col-md-4 col-lg-4">
                            <h2><a href="{{productUrl slug}}" >{{name}}</a></h2>
                               {{#if heroImage}}
                                    <img src="{{cloudinaryUrl heroImage width='160' height='160'}}" class="img-rounded">
                                {{/if}}
                        </div>
                    {{/each}}
                {{/if}}
            </div> 
        </div>
</div> 
     